* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3ffd4;
  color: hwb(0 0% 100% / 0.775);
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ba6060;
  background-color: rgb(190, 228, 228);
  position: relative;
}
.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-left a {
  text-decoration: none;
  color: rgb(43, 103, 135);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.logo img {
  height: 40px;
}
img {
  border: 2px solid #f4eff3;
  border-radius: 20px;
}
img:hover {
  transform: scale(1.06);
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #7fa7b0;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(209, 240, 141);
}
.search-box input {
  border: none;
  outline: none;
  padding: 5px;
}
.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .nav-left {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(215, 227, 182);
    border-top: 1px solid #b61ab3;
    padding: 10px 0;
  }
  .nav-left.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
h2 {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-content {
  padding: 12px;
  color: rgb(20, 18, 18);
  transition: 0.5s;
}
.card-content:hover {
  color: rgb(221, 34, 34);
  transform: scale(0.9);
}
.recipe-detail {
  display: none;
  text-align: center;
}
.recipe-detail img {
  width: 50%;
  height: auto;
}
.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #7b7379;
  border: 2px solid #f4eff3;
  border-radius: 20px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #c01616;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}